<header class="border-b border-gray-200 px-8 py-6 sticky top-0 z-40 backdrop-blur-sm bg-white/95">
    <div class="flex justify-between items-center flex-wrap gap-4">
        <!-- Sidebar Toggle and Breadcrumb Navigation -->
        <div class="flex items-center gap-4">
            <button hlmSidebarTrigger></button>
            @if (breadcrumbs().length > 0) {
            <nav hlmBreadcrumb aria-label="Breadcrumb navigation">
                <ol hlmBreadcrumbList>
                    @for (breadcrumb of breadcrumbs(); track $index; let isLast = $last) {
                    <li hlmBreadcrumbItem>
                        @if (!isLast && breadcrumb.link) {
                        <a hlmBreadcrumbLink [link]="breadcrumb.link">{{ breadcrumb.label }}</a>
                        } @else {
                        <span hlmBreadcrumbPage  class="font-medium">{{ breadcrumb.label }}</span>
                        }
                    </li>
                    @if (!isLast) {
                    <li hlmBreadcrumbSeparator></li>
                    }
                    }
                </ol>
            </nav>
            }
        </div>
        <div class="flex items-center gap-4">
            <span class="text-sm text-gray-500 bg-gray-50 px-4 py-2 rounded-lg">{{ currentDate | date:'medium' }}</span>
        </div>
    </div>
</header>